In [1]:
import pandas as pd

In [2]:
#file path
file = "Resources/heroes_data.csv"

In [3]:
#file read
file_df = pd.read_csv(file)
file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Total number of player
#group by SN and count total group(total number of player)
sn_group = file_df.groupby("SN")

sn_count = sn_group["SN"].count()
player_count = sn_count.count()
player_count

576

In [5]:
#Number of Unique Items
file_df['Item Name'].nunique()

179

In [6]:
#Average Purchase Price

file_df["Price"].mean()

3.050987179487176

In [7]:
#Total Number of Purchases
purchase_group = file_df.groupby("Price")
count_purchase = purchase_group["Price"].count()
count_purchase.count()

145

In [8]:
#Total Revenue
file_df["Price"].sum()

2379.77

In [9]:
gender_info = file_df["Gender"].value_counts()
gender_info


#Percentage and Count of Male Players
percent_male = gender_info["Male"] / gender_info.sum()
print("Percentage of male is  ", percent_male)
print("Count of Male Players is  ", gender_info["Male"])

Percentage of male is   0.8358974358974359
Count of Male Players is   652

In [10]:
#Percentage and Count of Female Players
percent_female = gender_info["Female"] / gender_info.sum()
print("Percentage of female is  ", percent_female)
print("Count of Female Players is  ", gender_info["Female"])

Percentage of female is   0.14487179487179488
Count of Female Players is   113

In [11]:
percent_other = gender_info["Other / Non-Disclosed"] / gender_info.sum()
print("Percentage of Other / Non-Disclosed is  ", percent_female)
print("Count of Other / Non-Disclosed is  ", gender_info["Other / Non-Disclosed"])

Percentage of Other / Non-Disclosed is   0.14487179487179488
Count of Other / Non-Disclosed is   15

In [12]:
#The below each broken by gender
#gender_group = file_df.groupby(["Gender","Price"])

#gender_count = gender_group.sum()
#gender_count

female_info = file_df.loc[file_df["Gender"] == "Female", :]
male_info = file_df.loc[file_df["Gender"] == "Male", :]
other_info = file_df.loc[file_df["Gender"] == "Other / Non-Disclosed", :]

#Purchase Count
female_info["Price"].count()
male_info["Price"].count()
other_info["Price"].count()

#Average Purchase Price
female_info["Price"].mean()
male_info["Price"].mean()
other_info["Price"].mean()

#Total Purchase Value

female_info["Price"].sum()
male_info["Price"].sum()
other_info["Price"].sum()

#Average Purchase Total per Person by Gender

50.19

In [13]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#find max of Age column and set bins start from 0

file_df["Age"].max()
bins = [0,10,15,20,25,30,35,40,45]
group_names = ["0 to 10","10 to 14", "15 to 20", "21 to 24", "25 to 29", "30 to 34", "35 to 40", "41 to 45"]
file_df["Age Summary"] = pd.cut(file_df["Age"], bins, labels=group_names, include_lowest=True)
age_group = file_df.groupby("Age Summary")





#Purchase Count
age_group.count()

#or??
group1 = age_group.get_group(('0 to 10'))
group1_count = len(group1['SN'].unique())
group1_count

group2 = age_group.get_group(('10 to 14'))
group2_count = len(group2['SN'].unique())
group2_count

group3 = age_group.get_group(('15 to 20'))
group3_count = len(group3['SN'].unique())
group3_count

group4 = age_group.get_group(('21 to 24'))
group4_count = len(group4['SN'].unique())
group4_count

group5 = age_group.get_group(('25 to 29'))
group5_count = len(group5['SN'].unique())
group5_count

group6 = age_group.get_group(('30 to 34'))
group6_count = len(group6['SN'].unique())
group6_count

group7 = age_group.get_group(('35 to 40'))
group7_count = len(group7['SN'].unique())
group7_count

group8 = age_group.get_group(('41 to 45'))
group8_count = len(group8['SN'].unique())
group8_count

#Average Purchase Price

age_group['Price'].mean()

group1 = age_group.get_group(('0 to 10'))
group1_mean = group1['Price'].mean()
group1_mean

group2 = age_group.get_group(('10 to 14'))
group2_mean = group2['Price'].mean()
group2_mean

group3 = age_group.get_group(('15 to 20'))
group3_mean = group3['Price'].mean()
group3_mean

group4 = age_group.get_group(('21 to 24'))
group4_mean = group4['Price'].mean()
group4_mean

group5 = age_group.get_group(('25 to 29'))
group5_mean = group5['Price'].mean()
group5_mean

group6 = age_group.get_group(('30 to 34'))
group6_mean = group6['Price'].mean()
group6_mean

group7 = age_group.get_group(('35 to 40'))
group7_mean = group7['Price'].mean()
group7_mean

group8 = age_group.get_group(('41 to 45'))
group8_mean = group8['Price'].mean()
group8_mean

#Total Purchase Value

age_group["Price"].sum()

#Average Purchase Total per Person by Age Group

group1 = age_group.get_group(('0 to 10'))
group1_sum = group1['Price'].sum()
group1_sum

group2 = age_group.get_group(('10 to 14'))
group2_sum = group2['Price'].sum()
group2_sum

group3 = age_group.get_group(('15 to 20'))
group3_sum = group3['Price'].sum()
group3_sum

group4 = age_group.get_group(('21 to 24'))
group4_sum = group4['Price'].sum()
group4_sum

group5 = age_group.get_group(('25 to 29'))
group5_sum = group5['Price'].sum()
group5_sum

group6 = age_group.get_group(('30 to 34'))
group6_sum = group6['Price'].sum()
group6_sum

group7 = age_group.get_group(('35 to 40'))
group7_sum = group7['Price'].sum()
group7_sum

group8 = age_group.get_group(('41 to 45'))
group8_sum = group8['Price'].sum()
group8_sum

21.529999999999998

In [14]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
name_player = sn_group['SN'].unique()
price_count = sn_group['Price'].count()
avg_price = sn_group['Price'].mean()
total_price = sn_group['Price'].sum()

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

top_spender = {"SN":name_player, "Purchase Count":price_count,"Average Purchase Price":avg_price,
              "Total Purchase Value":total_price}
top_spender_df = pd.DataFrame(top_spender)
top_spender_df = top_spender_df.set_index('SN')
top_spender_df = top_spender_df.sort_values("Total Purchase Value", ascending=False)
top_spender_df = top_spender_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

top_spender_df.iloc[:5]

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
[Lisosia93]                 5                3.792000                 18.96
[Idastidru52]               4                3.862500                 15.45
[Chamjask73]                3                4.610000                 13.83
[Iral74]                    4                3.405000                 13.62
[Iskadarya95]               3                4.366667                 13.10

In [15]:
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
item_group = file_df.groupby(file_df['Item ID'])
item_id_unique = item_group['Item ID'].unique()

#Item Name
item_unique = item_group['Item Name'].unique()

#Purchase Count
item_count = item_group['Price'].count()

#Item Price
item_price = item_group['Price'].unique()

#Total Purchase Value
item_total_price = item_group['Price'].sum()


popular_item = {"Item ID":item_id_unique, "Item Name":item_unique, "Purchase Count":item_count, 
                "Item Price":item_price, "Total Purchase Value":item_total_price}
popular_item_df = pd.DataFrame(popular_item)
popular_item_df = popular_item_df.set_index('Item ID')
popular_item_df = popular_item_df.sort_values("Purchase Count", ascending=False)
popular_item_df = popular_item_df[["Item Name", "Purchase Count",'Item Price', "Total Purchase Value"]]

popular_item_df.iloc[:5]

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
[92],[Final Critic],13,"[4.88, 4.19]",59.99
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[145],[Fiery Glass Crusader],9,[4.58],41.22
[132],[Persuasion],9,"[3.19, 3.33]",28.99
[108],"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77

In [16]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

top_profit = popular_item_df.sort_values('Total Purchase Value', ascending=False)
top_profit.iloc[:5]

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
[92],[Final Critic],13,"[4.88, 4.19]",59.99
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[82],[Nirvana],9,[4.9],44.10
[145],[Fiery Glass Crusader],9,[4.58],41.22
[103],[Singed Scalpel],8,[4.35],34.80